<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2>Team Picker.</h2>
        <h4>Please enter the name separate with a comma</h4>
        <form class="" action="/pick_team" method="post">
          <textarea name="random_name" cols="150" rows="2"><%= if @random_name
            @random_name
          end %></textarea>
          <br>
          <br>
          <h4>How many team</h4>
          <input type="text" name="team_number" value="">
          <br>
          <br>
          <input class="btn btn-danger" type="submit" name="submit" value="Pick Winner">
        </form>
      </div>
      <div class="col-md-6">
        <% if @winner  %>
          <h4 class="alert alert-success" role="alert">The winner is: <%= @winner %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
