<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2>Generation of your car.</h2>
        <h4>Please enter the yeat of your car:</h4>
        <br>
        <form class="" action="/car_info" method="post">
          <label for="year">You work best:: &nbsp;</label>
          <input id="year" type="radio" name="workbest" value="1">
          <input id="year" type="radio" name="workbest" value="0">
          <br>
          <br>
          <input class="btn btn-danger" type="submit" name="submit" value="Let's check it out!!!">
        </form>
      </div>
      <div class="col-md-10">
        <% if @results  %>
          <h4 class="alert alert-success" role="alert"> <%= @results %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
